<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Tiny Tags | i386 Demo</title>

    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/reflex-grid@2.0.4/css/reflex.min.css" type="text/css" rel="stylesheet" />
    <link href="css/demo-386.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <%= htmlWebpackPlugin.options.svg %>
    <main>
        <div class="container">
            <div class="grid justify-center">
                <div class="col-12 col-md-8">
                    <div class="hero">
                        <header>
                            <h1>Tiny Tags</h1>
                        </header>
                        <p>
                            Created with <a href="https://riot.js.org" target="_blank">Riot.js</a>!
                        </p>
                        <p>
                            Form Field Component to add Tags to a List. Will be handled as a Select-Element
                            with Multiple Options that are selected.
                        </p>
                        <p>
                            <blockquote>
                                npm install tiny-tags --save
                            </blockquote>
                        </p>
                        <p>
                            <a href="https://github.com/tentakelfabrik/tiny-tags" target="_blank">
                                <svg class="icon vertical-align-sub"><use xlink:href="#icon-github" /></svg>
                            </a>
                        </p>
                    </div>
                    <h2>Try me:</h2>
                    <tiny-tags></tiny-tags>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>
            Crafted with enthusiasm by <a target="_blank" href="https://tentakelfabrik.de">Tentakelfabrik</a>
        </p>
        <p>
            <a target="_blank" href="https://github.com/tentakelfabrik/tiny-tags">
                <svg class="icon"><use xlink:href="#icon-github" /></svg>
            </a>
        </p>
    </footer>
    <script src="js/demo-386.js"></script>
</body>
</html>
